/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 
 #2962ff blue accent-4
 #43a047 green darken-1
 #cfd8dc blue-grey lighten-4
 #424242 grey darken-3
#212121 grey darken-4
*/
@import 'normalize';
@import 'bootstrap';
@import 'font-awesome';
@import 'font-awesome-sprockets';

.navbar-custom {
	background-color: #212121;
}

html, body {
	height: 100%;
	background-color: #424242;
}

body {
	padding-top: 46px;
}

h1 {
	color: white;
}

p {
	color: white;
}

table-t {
	background-color: #000;
	.p {
		font-color: #43a047 ;
	}
}

news-wrapper {
	width: 20%;
	height: 10%;
}